<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Insurances For Vehicle Of User</title>
</head>
<body>

<p th:text="${param}"> userId </p>

<table>
  <tr>
    <td>id</td>
    <td>vehicle_id</td>
    <td>insurances</td>
  </tr>
  <tr th:each="vehicle: ${listOfVehicles.keySet()}">
    <td th:text="${vehicle.getId()}">vehicle</td>
    <td th:each="insurance: ${vehicle.getInsurances()}">insurances
    <table>
        <td th:text="${insurance.getId()}">id</td>
        <td th:text="${insurance.getInsurer()}">insurer</td>
        <td th:text="${insurance.getPrice()}">price</td>
        <td th:text="${insurance.getAdditionalData}">additionalData</td>
        <td th:text="${insurance.getInsertTime()}">time</td>
    </table></td>
  </tr>
</table>

</body>
</html>
