<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Insurances For Vehicle Of User</title>
</head>
<body>

<p th:text="${param}"> userId </p>

<table>
  <tr>
    <td>id</td>
    <td>vehicle_id</td>
    <td>insurances</td>
  </tr>
  <tr th:each="vehicle: ${listOfVehicles.keySet()}">
    <td></td>
    <td th:text="${vehicle.getId()}">vehicleId</td>
    <td th:each="insurance: ${vehicle.getInsurances()}">
      <table>
        <tr th:text="${insurance.getId()}">id</tr>
        <tr th:text="${insurance.getInsurer()}">insurer</tr>
        <tr th:text="${insurance.getPrice()}">price</tr>
        <tr th:text="${insurance.getAdditionalData}">additionalData</tr>
        <tr th:text="${insurance.getInsertTime()}">time</tr>
      </table></td>
  </tr>
</table>

</body>
</html>
